<div>
    <h2 data-translate="entmdmApp.enterprisecustomer.home.title">Enterprisecustomers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="enterprisecustomer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="entmdmApp.enterprisecustomer.home.createLabel">
                        Create new Enterprisecustomer
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'entmdmApp.enterprisecustomer.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enterprisecustomernr"><span data-translate="entmdmApp.enterprisecustomer.enterprisecustomernr">Enterprisecustomernr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pharmaacctnr"><span data-translate="entmdmApp.enterprisecustomer.pharmaacctnr">Pharmaacctnr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="medicalacctnr"><span data-translate="entmdmApp.enterprisecustomer.medicalacctnr">Medicalacctnr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="entmdmApp.enterprisecustomer.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span data-translate="entmdmApp.enterprisecustomer.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="entmdmApp.enterprisecustomer.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="zipcode"><span data-translate="entmdmApp.enterprisecustomer.zipcode">Zipcode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country"><span data-translate="entmdmApp.enterprisecustomer.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pharmaShipTo"><span data-translate="entmdmApp.enterprisecustomer.pharmaShipTo">Pharma Ship To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pharmabillto"><span data-translate="entmdmApp.enterprisecustomer.pharmabillto">Pharmabillto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="medicalshipto"><span data-translate="entmdmApp.enterprisecustomer.medicalshipto">Medicalshipto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dealicensenr"><span data-translate="entmdmApp.enterprisecustomer.dealicensenr">Dealicensenr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="healthfacilitylicensenr"><span data-translate="entmdmApp.enterprisecustomer.healthfacilitylicensenr">Healthfacilitylicensenr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="enterprisecustomer in vm.enterprisecustomers track by enterprisecustomer.id">
                    <td><a ui-sref="enterprisecustomer-detail({id:enterprisecustomer.id})">{{enterprisecustomer.id}}</a></td>
                    <td>{{enterprisecustomer.enterprisecustomernr}}</td>
                    <td>{{enterprisecustomer.pharmaacctnr}}</td>
                    <td>{{enterprisecustomer.medicalacctnr}}</td>
                    <td>{{enterprisecustomer.address}}</td>
                    <td>{{enterprisecustomer.city}}</td>
                    <td>{{enterprisecustomer.state}}</td>
                    <td>{{enterprisecustomer.zipcode}}</td>
                    <td>{{enterprisecustomer.country}}</td>
                    <td>{{enterprisecustomer.pharmaShipTo}}</td>
                    <td>{{enterprisecustomer.pharmabillto}}</td>
                    <td>{{enterprisecustomer.medicalshipto}}</td>
                    <td>{{enterprisecustomer.dealicensenr}}</td>
                    <td>{{enterprisecustomer.healthfacilitylicensenr}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="enterprisecustomer-detail({id:enterprisecustomer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enterprisecustomer.edit({id:enterprisecustomer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="enterprisecustomer.delete({id:enterprisecustomer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
