<div>

    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <h2 data-translate="entmdmApp.pharmacustomer.home.title">Pharmacustomers</h2>
            </div>

            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="pharmacustomer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="entmdmApp.pharmacustomer.home.createLabel">
                        Create new Pharmacustomer
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'entmdmApp.pharmacustomer.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pharmacustomernr"><span data-translate="entmdmApp.pharmacustomer.pharmacustomernr">Pharmacustomernr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span data-translate="entmdmApp.pharmacustomer.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span data-translate="entmdmApp.pharmacustomer.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="entmdmApp.pharmacustomer.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="zipcode"><span data-translate="entmdmApp.pharmacustomer.zipcode">Zipcode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country"><span data-translate="entmdmApp.pharmacustomer.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pharmashipto"><span data-translate="entmdmApp.pharmacustomer.pharmashipto">Pharmashipto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pharmabillto"><span data-translate="entmdmApp.pharmacustomer.pharmabillto">Pharmabillto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dealicensenr"><span data-translate="entmdmApp.pharmacustomer.dealicensenr">Dealicensenr</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="pharmacustomer in vm.pharmacustomers track by pharmacustomer.id">
                    <td><a ui-sref="pharmacustomer-detail({id:pharmacustomer.id})">{{pharmacustomer.id}}</a></td>
                    <td>{{pharmacustomer.pharmacustomernr}}</td>
                    <td>{{pharmacustomer.address}}</td>
                    <td>{{pharmacustomer.city}}</td>
                    <td>{{pharmacustomer.state}}</td>
                    <td>{{pharmacustomer.zipcode}}</td>
                    <td>{{pharmacustomer.country}}</td>
                    <td>{{pharmacustomer.pharmashipto}}</td>
                    <td>{{pharmacustomer.pharmabillto}}</td>
                    <td>{{pharmacustomer.dealicensenr}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="pharmacustomer-detail({id:pharmacustomer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pharmacustomer.edit({id:pharmacustomer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="pharmacustomer.delete({id:pharmacustomer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
